<section class="hero-section">
    <div class="hero-content">
        <span class="badge">Próximamente / Beta</span>
        <h1>Transforma tu forma de trabajar con CampusHub</h1>
        <p>
            La herramienta definitiva para gestionar tus proyectos que estamos
            perfeccionando en nuestro laboratorio de desarrollo.
        </p>

        <div class="actions">
            <button class="btn-primary" (click)="redirect()">
                Acceder a la Aplicación
            </button>
            <a href="#saber-mas" class="btn-secondary">Saber más</a>
        </div>
    </div>
</section>